<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Only reference your entry file -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    

    <!-- Remove WebDAV which can block PUT/DELETE -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>

    <!-- URL Rewrite all requests to index.js -->
    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
    />
  </system.webServer>
</configuration>
